[user]
	email = ihossain@gitlab.com
	name = Imam Hossain
	signingkey = EDF2AF1480342316

[commit]
	gpgsign = true

path = ~/.gitconfig-work

[includeIf "gitdir:~/Work/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/Private/"]
  path = ~/.gitconfig-personal

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[pull]
	ff = true

[core]
	excludesFile = /Users/imho/.gitignore
	pager = diff-so-fancy | less --tabs=2 -FXRi
	autocrlf = input
	# fsmonitor = true
	# pager = delta --line-numbers

[color]
	diff = auto
	interactive = auto

[diff-so-fancy]
	changeHunkIndicators = true
	stripLeadingSymbols = false
	markEmptyLines = true

[color "diff"]
	frag = magenta bold
	meta = 11
	func = 146 bold
	whitespace = red reverse

[delta]
    line-numbers = true
    navigate = true

[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main

[open "https://ssh.github.com"]
	domain = github.com

[maintenance]
	repo = /Users/imho/Work/gdk/gitlab
	repo = /Users/imho/Work/gdk
	repo = /Users/imho/Work/development-kit
	repo = /Users/imho/Work/development-kit/gitlab

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[diff]
	algorithm = histogram
[gpg]
	pinentry-mode = loopback
